.mid-panel
  .chart-description
    = t('views.layouts.dashboard_data.charts-descriptions.invoice_value_and_sum')
  .chart-container
    %canvas{ data: { chart_data: @invoice_data.to_json}, id: 'invoice-chart'}

= javascript_include_tag "https://cdn.jsdelivr.net/npm/chart.js@4.4.8/dist/chart.umd.js", 'charts'