.links-container
  .home= link_to 'Strona główna', dashboard_path
  .invoice= link_to 'Faktury', invoice_index_path
  .settlements= link_to 'Rozliczenia', settlement_path
  .companies= link_to 'Firmy', company_properties_path