/*
 * This is a manifest file that'll be compiled into application.css.
 *
 *= require_tree .
 *= require_self
 */

html, body {
    margin: 0;
    padding: 0;
}

.log-section {
    position: absolute;
    left: 45%;
    top: 25%;
}

.registration-section {
    position: absolute;
    left: 45%;
    top: 25%;
}

main {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}