#invoice-chart {
    width: 95% !important;
    height: 95% !important;
    display: block;
}

.chart-container{
    height: 30rem;
    background: #f8f9fa;
    padding: 2rem;
    margin: 2rem;
    border-radius: 8px;
    border: 1px solid #dee2e6;
}

.chart-description {
    margin: 2rem 0 0 2rem;
    font-weight: bold;
    font-size: 18px;

    @media(max-width: 768px) {
        margin-right: 2rem;
    }
}