/* Dashboard */

$first-color: rgb(33, 33, 33);

.dashboard {
    background-color: #F5F1E3;
    display: flex;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.left-panel {
    width: 20%;
    display: block;
    background: rgba($first-color, 0.9);
    height: inherit;
}

.top-panel {
    display: block;
    background: $first-color;
    height: 6rem;
}

.mid-panel {
    display: block;
}

.main-container {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
}

.settings-container {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    gap: 1rem;
    margin-right: 1rem;
}

.no-btn {
    text-decoration: none;
    border: none;
    background: none;
}

.menu-container {
    padding-bottom: 2rem;
    text-align: center;
    margin-top: 6rem;
}

.links-container {
    text-align: left;
    padding: 1rem;
}

.menu {
    border-bottom: #F5F1E3 1px solid;
    color: #FFFFFF;
    font-weight: bold;
}

.left-panel a {
    text-decoration: none;
    color: #FFFFFF !important;
}

.dropdown-content {
    a {
        color: black !important;
    }

    a:hover {
        color: black !important;
    }
}

a:hover {
    text-decoration: none;
    color: white !important;
}

.companies-grid-container, .invoice-container  {
    display: flex;
    flex-direction: column;
}

.add-invoices {
    display: flex;
    flex-direction: column;
}

.button {
    margin-top: 2rem;
}

.flash {
    padding: 0.5rem;
    text-align: center;
    align-items: center;
}

.notice {
    background: green;
}

.error {
    background: red;
}

.settlements {
    display: flex;
}

.user-container .user-grid, .role-container .role-grid, .invoice-grid {
    margin-top: 2rem;
}

.user-container, .role-container, .company-container, .settlement-container, .invoice-container {
    padding: 2rem;
}

.invoice-grid tbody {
    vertical-align: baseline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 10rem;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 8px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.settings-icon {
    cursor: pointer;
}

.pagination {
    color: black !important;
}
